@font-face{
    font-family: arial; 
    src:  url('../fonts/arial.ttf');
 }
 @font-face{
     font-family: arialbd; 
     src:  url('../fonts/arialbd.ttf');
  }
  @font-face{
     font-family: ariblk; 
     src:  url('../fonts/ariblk.ttf');
  }
  @font-face{
     font-family: brlinsb; 
     src:  url('../fonts/BRLNSB.TTF');
  }
 @font-face{
     font-family: brlinsdb; 
     src:  url('../fonts/BRLNSDB.TTF');
  }
 @font-face{
     font-family: erasdemi; 
     src:  url('../fonts/ERASDEMI.TTF');
  }
  @font-face{
     font-family: minion-pto-r; 
     src: url('../fonts/MinionPro-Regular.otf'),
  }
  @font-face{
     font-family: zonapro-b; 
     src: url('../fonts/ZonaPro-Bold.otf'),
  }
  @font-face{
     font-family: zonapro-exligt; 
     src: url('../fonts/ZonaPro-ExtraLight.otf'),
  }
 body,html{
     height: 100%;
     width: 100%;
     font-family: 'Corsa-Thin',sans-serif ;
     font-size: 12px;
     scroll-behavior: smooth;
     background: #fff;
 }
 *{    box-sizing: border-box;}
 /* section,div{
     clear: both;
 } */
 a{
     text-decoration: none;
 }
 a:hover{
     text-decoration: none;
     transition: 0.3s   ease-in-out;
     color: #fec325 ;
 }
 h1,h2,h3,h4,h5,h6{
     font-weight: bold;
     font-family: 'AileronB',sans-serif ;
 }
 ul{
     list-style-type: none;
 }
 .bg-gray{
     background: #747272;
 }
 .bg-gray-light{
     background: #f5f8ed;
 }
 .bg-green{
     background: #0b4c41;
 }
 .bg-green-light{
     background: #9db744;
 }
 .bg-m-light{
     background: #b9cc7d;
 }
 .bg-x-light{
     background: #d7e2b6;
 }
 
 .bg-yellow{
     background: #fec325 !important;
     color: #0b4c41 !important;
 }
 .bg-red{
     background: #ed1d24;
 }
 .bg-white{
     background: #fff;
     color: #0b4c41 !important;
 }
 a.bg-yellow{
     background: #fec325 !important;
     color: #0b4c41 !important;
 }
 a.bg-yellow:hover , button.bg-yellow:hover{
     background: #95b749 !important;;
     color: #fff !important;
 }
 a.bg-red , button.bg-red{
     background: #ed1d24;
 }
 a.bg-red:hover ,button.bg-red:hover{
     background: #f3c629 ;
     color: #0b4c41 !important;
 }
 a.bg-green , button.bg-green{
    background: #0b4c41;
    color: #ffc324;
}
a.bg-green:hover , button.bg-green:hover{
    background: #95b749;
    color: #fff;
}
 a.bg-white{
     background: #fff;
     color: #0b4c41 !important;
 }
 a.bg-white:hover{
     background: #95b749 !important;;
     color: #fff !important;
 }
 a.bg-green-light{
     background: #9db744;
     color: #fff;
 }
 a.bg-green-light:hover{
     background: #ed1d24;
     color: #fff;
 }
 .text-yellow{
     color: #fec325 !important;
 }
 .text-green-light{
     color: #96b84a !important;
 }

 form .form-group  .error{
    font-size: 12px;
    color: #ed1d24;
    font-family: 'arial', sans-serif;
    text-transform: capitalize;
   padding: 8px;
}
/**Section Registration**/
.sec-register , .sec-Exam{
    padding: 20px 0 0 0 ;
}
.sec-register h1 ,  .sec-Exam h1{
    font-size: 40px;
    font-family: 'ariblk', sans-serif;
    font-weight: bold;
    color: #0b4c41;
    text-align: center;
    margin: 10px 4px;

}
.sec-register h3{
    font-size: 24px;
    line-height: 40px;
    font-family: 'arial', sans-serif;
    font-weight: 400;
    color: #0b4c41;
    text-align: center;
    /* white-space: pre-line; */
}

.sec-register  form {
    margin:20px 0px ;
}
.sec-register  form .form-group{
    margin:20px auto ;
}

.sec-register  form .form-group label{
    font-size: 30px;
    color: #0b4c41;
    font-family: 'minion-pto-r', sans-serif;
    text-transform: capitalize;
}
.sec-register form .form-group .form-control{
   height: 70px;
   border-radius: 15px;
   font-size: 28px;
   color: #0b4c41;
   padding: 10px 30px;
   font-family: 'minion-pto-r', sans-serif;
   font-weight: 600;
   background: #fff;
   border-color: #ffc324;
}
.sec-register form  .link{
    text-align: center;
    margin: 30px 0;
}
.sec-register form  .link  button{
    text-align: center;
    font-family: 'zonapro-b' , sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 14px 30px;
    margin: 10px 0 0px 0px;
}
/**End Section Registration**/ 

/**Section Exam English**/
/* Sets the containers height and width */
.base-timer {
  position: relative;
  width:  200px;
  height:  200px;
}
  /* Removes SVG styling that would hide the time label */
  .circle {
    fill: none;
    stroke: none;
  }
  /* The SVG path that displays the timer's progress */
  .path-elapsed {
    stroke-width: 10px;
    stroke: #f3c629;
  }
  .question-count {
    position: absolute;
    display: inline-block;
    align-self: center;
    text-align: center;
    color: #0b4c41;
    top: 75px;
    left: 0;
    right: 0;
  }
  .question-count h3{
    font-size: 30px;
    font-family:'arialbd' ,sans-serif ;
    font-weight: bold;
    line-height: 30px;
  }
  .question-count .count{
    font-size: 24px;
    font-family:'arialbd' ,sans-serif ;
    font-weight: bold;
    
  }
  .svg {
    transform: scaleX(-1);
    display: block;
    margin:6px auto;
  }
  .path-remaining {
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: #0b4c41;
  }
.sec-Exam .title{
    font-size: 30px;
    font-family: 'arialbd', sans-serif;
    font-weight: bold;
    color: #0b4c41;
    text-align: center;
    margin: 10px 4px;
}
.sec-Exam .question {
    font-size: 26px;
    font-family: 'arial', sans-serif;
    font-weight: 400;
    color: #0b4c41;
    text-align: center;
    margin: 30px 0;
}
.sec-Exam .choose-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0 auto;
}
.sec-Exam  .choose-list  form ul{
    display: block;
    margin: 6px auto;
    text-align: center;
    padding: 0;

}
.sec-Exam  .choose-list  form ul li {
    display: inline-block;
    margin: 6px 10px ;
    border: 1px solid #ffc324;
    border-radius: 10px;
    padding: 20px 20px;
    min-width: 220px;
}
.sec-Exam  .choose-list  form ul li  .custom-control{
    text-align: left;
}
.sec-Exam  .choose-list  form ul li  label{
    font-size: 20px;
    line-height: 24px;
    font-family: 'arial', sans-serif;
    font-weight: 200;
    color: #0b4c41;
    text-align: left;
}
.sec-Exam  .choose-list  form ul li .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0b4c41;
    background-color: #0b4c41;
}
.sec-Exam  .choose-list  form ul li .custom-control-label::before {
    top: 4px;
    width: 15px;
    height: 15px;
    left: -24px;
    border: #0b4c41 solid 1px;
}
.sec-Exam  .choose-list  form ul li .custom-control-label::after{
    top: 5px;
    width: 15px;
    height: 15px;
    left: -23px;

}
.sec-Exam  .choose-list  form ul li .custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-image: none;
}
.sec-Exam  .choose-list .link{
    text-align: center;
}
.sec-Exam  .choose-list .link button{
    text-align: center;
    font-family: 'zonapro-b' , sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 15px 6px 0 6px;
}
.alert{
    position: absolute; 
    display: inline-block;
    right:  0;
    top: -20px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border: none; 
    border-radius: 0;
    text-align: end;
}
.alert p{
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    font-family: 'arial', sans-serif;
    font-weight: 200;
    color: #ed1d24;
    text-align: right;
    margin: 0;
    padding: 0;
}
.alert .close{
    display: inline-block;
    float: none;
    font-size: 24px;
    opacity: 1;
    margin: 0 6px;
    line-height: 30px;
}
.alert button span{
    color: #ed1d24; 
}
.sec-Exam .res{
    background: #ffc324;
    padding: 20px 40px;
    margin: 40px 10px 20px 10px;
    text-align: center;
    border-radius: 15px;
}
.sec-Exam .res .text-title{
    font-size: 26px;
    font-family: 'arial', sans-serif;
    font-weight: 500;
    color: #0b4c41;
    text-align: center;
}
.sec-Exam .res .ques-count{
    font-size: 30px;
    font-family: 'ariblk', sans-serif;
    font-weight: bold;
    color: #0b4c41;
    text-align: center;
}
.sec-Exam .res .score{
    display: block;
    margin: 10px auto;
}
.sec-Exam .res .score ul{
    display: block;
    margin: auto;
    padding: 0;
    text-align: left;
}
.sec-Exam .res .score ul li{
    display: inline-block;
    margin: 0;
}
.answer-true{
    width: 40px;
    height: 40px;
    background: url(../images/icons/answer-true.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.answer-false{
    width: 40px;
    height: 40px;
    background: url(../images/icons/answer-false.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.sec-Exam .res .text-dsc{
    font-size: 26px;
    font-family: 'arialbd', sans-serif;
    font-weight: bold;
    color: #0b4c41;
    text-align: center;
}
.sec-Exam .res .spend-time{
    display: inline-block;
    background: #fff;
    padding: 20px 60px;
    text-align: center;
    border-radius: 15px;
    margin: 40px 0;
}
.sec-Exam .res .spend-time p {
    font-size: 30px;
    line-height: 30px;
    font-family: 'ariblk', sans-serif;
    font-weight: bold;
    color: #0b4c41;
    text-align: center;
    margin: 0;
}
.sec-Exam .complete {
    border: 2px solid #ffc324;
    border-radius: 15px;
    padding: 20px 40px;
    margin: 20px;
}
.sec-Exam .complete .title{
    font-size: 22px;
    line-height: 30px;
    font-family: 'arial', sans-serif;
    font-weight: 400;
    color: #0b4c41;
    text-align: center;
    margin: 20px 0;
}
.sec-Exam .complete  .form-title{
    font-size: 30px;
    line-height: 30px;
    font-family: 'arialbd', sans-serif;
    font-weight: 900;
    color: #0b4c41;
    text-align: center;
    margin: 40px 0;
}
.sec-Exam .complete  form {
    margin:40px 0px ;
}
.sec-Exam .complete form .form-group{
    margin:20px auto ;
}

.sec-Exam .complete  form .form-group label{
    font-size: 28px;
    color: #0b4c41;
    font-family: 'arialbd', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
}
.sec-Exam .complete form .form-group .form-control{
   height: 70px;
   border-radius: 15px;
   font-size: 22px;
   color: #0b4c41;
   padding: 10px 30px;
   font-family: 'arialbd', sans-serif;
   font-weight: 500;
   background: #fff;
   border-color: #ffc324;
}
.sec-Exam .complete form  .link{
    text-align: center;
}
.sec-Exam .complete form  .link  button{
    text-align: center;
    font-family: 'zonapro-b' , sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 15px 20px;
}
/**End Section Exam English**/